PORT=3002
NODE_ENV=development
SWAGGER_ENABLED=true
SWAGGER_PATH=api/docs
RABBITMQ_URL="amqp://guest:guest@localhost:5672"
RABBITMQ_EXCHANGE="al-mizan.events"
DATABASE_URL="mysql://root:password@localhost:3306/al_mizan_users"